body{
    font-family: 'Audiowide';
    background: rgb(0, 0, 0);
    color: white;
}
.cabeçalho{
   color: black;
   background-color: white;
    
}
header{
   border-top: rgb(255, 255, 255);
    border-bottom: solid 2px rgba(255, 255, 255, 0.959);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
img{
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}